*{
    margin: 0;
    padding: 0;
}
body{
    font-family:Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;

}
.header{
    background-color: transparent;
    bottom: 0;
    height: 5rem;
    left: 0;
    margin: 0 auto;
    max-width: 1920px;
    padding-top: 20px;
    position: relative;
    right: 0;
    top: 0;
    transition: background-color .5s;
    width: 100%;
    z-index: 10;
}
.Signin{
    text-decoration-line: none ;
    color: white;
    position: relative;
    right: 20px;
    background-color: red;
    border-radius: 3%;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 10px;
    float: right;
}
.netflix{
    float: left;
    width: 10%;
    height: 90%;
    position: relative;
    left:20px;
    padding-left: 8px;
}
.break{
    height: 5%;
    width: 100vw;
    background-color: grey;
    color: grey;
}
.navstart{
    text-decoration-line: none ;
    color: white;
    background-color: rgb(243, 60, 60);
    text-decoration-line: none;
    font-size: 28px;
    font-family:Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;  
    display: flex;
    flex-direction:row; 
    justify-content: center;
    text-align: center;
    padding-top:1.5%;
    padding-bottom:1.5%;
    width: 40%;
    height: 19.5%;
}
.navstart2{
    text-decoration-line: none ;
    color: white;
    background-color: rgb(243, 60, 60);
    text-decoration-line: none;
    font-size: 30px;
    font-family:Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;  
    display: flex;
    flex-direction:row; 
    justify-content: center;
    text-align: center;
    padding-top:0.70%;
    padding-bottom:0.70%;
    padding-left:0.001%;
    padding-right: 0.001%;
    width: 20%;
    height: 17%;
}
.container1{
    height: 100vh;
    background-image: url('IMG-20221125-WA0098.jpg');
    background-position: center;
    background-size: cover;
    justify-content: center;
}
.main1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
    

}
p{
    color: white;
}
#email{
    width: 500px;
    height: 55px;
    margin-right: 0;
}
#email2{
    width: 400px;
    height: 55px;
    margin-right: 0;
}
#main1text{
    color: white;
    font-size: 50px;
    font-family:Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    
}
#main1textsub{
    color: white;
    font-size: 27px;
    font-family:Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
#main1textsubsub{
    color: white;
    font-size: 19.5px;
    font-family:Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.email_started{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.main2{
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: row;
    grid-template-rows:repeat(2,1fr);
    justify-content:center ;
    align-items: center;
}
.main22{
    background-color: black;
    padding-top:2% ;
    padding-bottom:2% ;
    display: flex;
    flex-direction: row;
    grid-template-rows:repeat(2,1fr);
    justify-content:center ;
    align-items: center;
}
.main2left{
    display: flex;
    flex-direction: column;
    
}
.main2right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main4{
    padding:5% 7% 5% 7%;
    background-color: black;
}
.FAQ{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}
.FAQ a{
    background-color: rgb(61, 61, 66);
    color: white;
    padding: 1.5% 2% 1.5% 2%;
    width: 58%;
    display: flex;
    flex-direction: row;
    margin: 0.5%;
    text-decoration-line: none;
    font-size: 27px;
}
.subFAQ{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main5{
    background-color: black;
}
#main5text{
    color: white;
    font-size: 52px;
    font-family:Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    padding: 1.5%;
}
.main8{
    display: flex;
    flex-direction: row;
    padding: 2% 5% 2% 5%;
    color: white;
    overflow: hidden;
    justify-content:space-around;
}

.main8 ul{
    text-decoration-line: none;
    color: white;
    text-decoration: none;
    
}
.main8 ul li{
    padding: 1%;
    display: flex;
    flex-direction: row;
    padding: 16px 2px 0px 2px;
    color: grey;
    font-size: 15px;
}
.main8 ul a{
    text-decoration-line: none;
}
.main8 ul a:hover{
    text-decoration-line: underline;
    color: grey;
}
.footer{
    display: flex;
    flex-direction: column;
}
.footer .p1{
    padding-left: 12.35%;
    padding-top: 5.5%;
    color: grey;
}
.footer .p2{
    padding-left: 12.5%;
    padding-top: 0.5%;
    color: grey;
    padding-bottom:4% ;
}
.seperator{
    width: 100vw;
    height: 1.5vh;
    background-color: rgb(71, 70, 70);
}