*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: transparent;
    bottom: 0;
    height: 5rem;
    left: 0;
    margin: 0 auto;
    max-width: 1920px;
    padding-top: 20px;
    position: relative;
    right: 0;
    top: 0;
    transition: background-color .5s;
    width: 100%;
    z-index: 10;
}
.Signin{
    text-decoration-line: none ;
    color: white;
    position: relative;
    right: 20px;
    background-color: red;
    border-radius: 3%;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 10px;
    float: right;
}
.break{
    height: 5%;
    width: 100vw;
    background-color: grey;
    color: grey;
}
.navstart{
    text-decoration-line: none ;
    color: white;
    background-color: red;
    padding: auto;
    width: 20%;
    text-decoration-line: none;
    font-size: 30px;
    font-family:Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;   
    text-align: center;
}
.container1{
    height: 100vh;
    background-image: url('IMG-20221125-WA0098.jpg');
    background-position: center;
    background-size: cover;
}
.main1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 100px;

}
p{
    color: white;
}
#email{
    width: 450px;
    height: 55px;
    margin-right: 0;
}
#main1text{
    color: white;
    font-size: 50px;
    font-family:Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    
}
#main1textsub{
    color: white;
    font-size: 27px;
    font-family:Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
#main1textsubsub{
    color: white;
    font-size: 19.5px;
    font-family:Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.email_started{
    display: flex;
    flex-direction: row;
}
.main2{
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: row;
    grid-template-rows:repeat(2,1fr);
    justify-content:center ;
    align-items: center;
}
.main2left{
    display: flex;
    flex-direction: column;
    
}
.main2right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main4{
    padding:5% 7% 5% 7%;
    background-color: black;
}
.FAQ{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}
.FAQ a{
    background-color: rgb(61, 61, 66);
    color: white;
    padding: 1.5% 2% 1.5% 2%;
    width: 58%;
    display: flex;
    flex-direction: row;
    margin: 0.5%;
    text-decoration-line: none;
    font-size: 27px;
}
.subFAQ{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main5{
    background-color: black;
}
#main5text{
    color: white;
    font-size: 52px;
    font-family:Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    padding: 1.5%;
}